@font-face {
  font-family: "metropolis";
  /* src: url("https://yoursite.com/css/fonts/CustomFont.eot"); */
  /* src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"), */
  src: url("/fonts/Metropolis-Regular.otf") format("opentype")
  /* url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg"); */
  }

  * {
    font-family: "metropolis";
    color: #656565;
  }

  .clip {
    position: absolute;
    z-index: -1;
    top: 0;
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-color: #118DCD;
    -webkit-clip-path: polygon(100% 0, 100% 24%, 0 100%, 0 55%, 68% 0);
    clip-path: polygon(100% 0, 100% 24%, 0 90%, 0 60%, 90% 0);
  }

  .clip2 {
    position: absolute;
    z-index: -1;
    top: 0;
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-color: #15B3FF;
    -webkit-clip-path: polygon(10% 0, 50% 0, 100% 50%, 100% 90%);
    clip-path: polygon(10% 0, 40% 0, 100% 50%, 100% 80%);
  }

  main {
    padding: 0 50px 0 50px;
  }

.main-button {
  background-color: #118DCD;
  border: none;
  padding: 10px;
  color:#FFF;
  font-family: "metropolis";
  font-size: 16px;
  border-radius: 30px;
}

.main-button:hover {
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  line-height: 100px;
  height: 100px;
  margin-top: 100px;
  font-weight: bold;

  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}




























/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
